.*
*.npz
*.coffea

preliminary/tagger/rootfiles/

BTVNanoCommissioning/runinfo/
BTVNanoCommissioning/plot/
BTVNanoCommissioning/plotting/plot/
BTVNanoCommissioning/src/BTVNanoCommissioning/version.py
BTVNanoCommissioning/src/BTVNanoCommissioning/jsonpog-integration/examples/
BTVNanoCommissioning/src/BTVNanoCommissioning.egg-info/
BTVNanoCommissioning/__pycache__
BTVNanoCommissioning/workflows/__pycache__/
BTVNanoCommissioning/.vscode/
BTVNanoCommissioning/dask-report.html
BTVNanoCommissioning/dask-worker-space/
BTVNanoCommissioning/.job_wrapper_failure
BTVNanoCommissioning/jobs_*
BTVNanoCommissioning/.success
